<div class="detail-container">
  <div class="product-detail">
    <div>
      <img
        src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
        alt="product"
      />
    </div>
    <div class="detail-item">
      <h4>Backpack</h4>
      <p>$300.0</p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea aut dicta
        soluta assumenda repellat dolore possimus sint sed quisquam hic! Minus
        dolores doloribus aperiam corrupti ducimus, et commodi nemo a!
      </p>
      <input type="number" class="select-input" />
      <button type="button" class="btn btn-primary">Add to cart</button>
      <div class="back-link">
        <a routerLink="">&larr; Back to product list</a>
      </div>
    </div>
  </div>
</div>
